@keyframes pulse {
  100% {
    transform: scale(2);
    opacity: 0; } }

@keyframes wave {
  40%,
  50% {
    transform: scale(1.05); }
  0%,
  90%,
  100% {
    transform: scale(0.95); } }

@keyframes flow {
  100% {
    background-position: 200%; } }

@keyframes neon {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe, 0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe; }
  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe, 0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif; }

html {
  font-size: 62.5%; }

body {
  background: url(../../assets/cyberpunk.jpg); }

.title {
  font-size: 6rem;
  margin-top: 5rem;
  text-align: center;
  position: relative;
  text-transform: uppercase; }
  .title::after {
    content: "by Vic";
    font-size: 1rem;
    position: absolute;
    top: 6.5rem;
    right: 32%; }

.player-turn {
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center; }

.player-toggle {
  font-size: 5rem;
  -webkit-text-stroke: 0.01rem #fff;
  position: relative; }
  .player-toggle::before, .player-toggle::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -0.5rem;
    border-radius: 50%;
    z-index: -1;
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    animation: pulse 2s ease infinite; }
  .player-toggle::after {
    animation: pulse 2s 0.5s ease infinite; }

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .winner-title {
    margin-top: 4rem;
    font-size: 1px;
    opacity: 0;
    color: transparent;
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 0.1px #000;
    background-size: 200%;
    background-position: -100%;
    transition: all 3s;
    animation: neon 1s infinite, flow 3s ease infinite alternate-reverse;
    animation-delay: 1s; }

.neon-green {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa; }

.neon-blue {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa; }

.neon-one {
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe; }

.button {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  transition: all 2s; }
  .button-restart {
    color: #fff;
    margin-right: 10rem;
    opacity: 0;
    transition: opacity 2s;
    width: 10rem;
    height: 4rem;
    border: 2px solid #fff;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    transition: opacity 0.5s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #2e89ff, 0 0 0.8rem #2e89ff, 0 0 2.8rem #2e89ff, inset 0 0 1.3rem #2e89ff; }
    .button-restart:hover {
      transform: scale(1.1); }
    .button-restart:active {
      transform: scale(1);
      box-shadow: none; }
  .button-change {
    margin-left: 5rem;
    color: #fff;
    opacity: 1;
    display: block;
    width: 10rem;
    height: 4rem;
    border: 2px solid #fff;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    transition: opacity 0.5s, transform 2s, box-shadow 0.3s, scale 0.3s;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #2e89ff, 0 0 0.8rem #2e89ff, 0 0 2.8rem #2e89ff, inset 0 0 1.3rem #2e89ff; }
    .button-change:hover {
      scale: 1.1; }
    .button-change:active {
      scale: 1;
      box-shadow: none; }
  .button-replay {
    color: #fff;
    width: 10rem;
    height: 4rem;
    border: 2px solid #fff;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #2e89ff, 0 0 0.8rem #2e89ff, 0 0 2.8rem #2e89ff, inset 0 0 1.3rem #2e89ff; }

.replay {
  display: flex;
  opacity: 0;
  transition: opacity 1s; }
  .replay-next, .replay-previous {
    font-size: 4rem;
    cursor: pointer;
    transition: all 0.5s; }
  .replay-next {
    margin-left: 2rem; }
  .replay-previous {
    margin-right: 2rem;
    margin-left: 4rem; }
  .replay-next:hover, .replay-previous:hover {
    transform: scale(1.2); }

.bg-video {
  position: absolute; }

.tic-box {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center; }

.row-one-col-one,
.row-one-col-two,
.row-one-col-three,
.row-two-col-one,
.row-two-col-two,
.row-two-col-three,
.row-three-col-one,
.row-three-col-two,
.row-three-col-three {
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  height: 20rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #2e89ff, 0 0 0.8rem #2e89ff, 0 0 2.8rem #2e89ff, inset 0 0 1.3rem #2e89ff;
  animation: neon 1.5s infinite alternate; }

.row-one-col-one,
.row-one-col-two,
.row-one-col-three,
.row-two-col-one,
.row-two-col-two,
.row-two-col-three {
  border-bottom: 2px solid transparent; }

.row-one-col-one {
  border-right: transparent; }

.row-one-col-two {
  border-right: transparent; }

.row-two-col-one {
  border-right: transparent; }

.row-two-col-two {
  border-right: transparent; }

.row-three-col-one {
  border-right: transparent; }

.row-three-col-two {
  border-right: transparent; }
