@keyframes pulse {
  100% {
    transform: scale(2);
    opacity: 0; } }

@keyframes wave {
  40%,
  50% {
    transform: scale(1.05); }
  0%,
  90%,
  100% {
    transform: scale(0.95); } }

@keyframes flow {
  100% {
    background-position: 200%; } }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Press Start 2P", sans-serif; }

html {
  font-size: 62.5%; }

body {
  background: #777; }

.title {
  font-size: 6rem;
  margin-top: 5rem;
  text-align: center;
  position: relative; }
  .title::after {
    content: "by Vic";
    font-size: 1rem;
    position: absolute;
    top: 6.5rem;
    right: 32%; }

.player-turn {
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center; }

.player-toggle {
  font-size: 5rem;
  -webkit-text-stroke: 0.01rem #fff;
  position: relative; }
  .player-toggle::before, .player-toggle::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -0.5rem;
    border-radius: 50%;
    z-index: -1;
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    animation: pulse 2s ease infinite; }
  .player-toggle::after {
    animation: pulse 2s 0.5s ease infinite; }

.winner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .winner-title {
    margin-top: 4rem;
    font-size: 1px;
    opacity: 0;
    color: transparent;
    background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px #000;
    background-size: 200%;
    background-position: -100%;
    transition: all 3s;
    animation: wave 2s infinite, flow 3s ease infinite alternate-reverse;
    animation-delay: 1s; }

.button {
  margin-top: 2rem;
  display: flex;
  justify-content: center; }
  .button-restart {
    margin-right: 10rem;
    opacity: 0;
    transition: opacity 2s;
    width: 10rem;
    height: 4rem;
    border: 2px solid #000;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 2s, transform 0.3s, box-shadow 0.3s; }
    .button-restart:hover {
      transform: scale(1.1);
      box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.5); }
    .button-restart:active {
      transform: scale(1);
      box-shadow: none; }
  .button-change {
    display: block;
    width: 10rem;
    height: 4rem;
    border: 2px solid #000;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.5s, transform 4s; }
    .button-change:hover {
      transform: scale(1.1);
      box-shadow: 0 5px 10px 3px rgba(0, 0, 0, 0.5); }
    .button-change:active {
      transform: scale(1);
      box-shadow: none; }
  .button-replay {
    margin-left: 10rem;
    display: block;
    width: 10rem;
    height: 4rem;
    border: 2px solid #000;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 2s; }

.tic-box {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center; }

.row-one-col-one,
.row-one-col-two,
.row-one-col-three,
.row-two-col-one,
.row-two-col-two,
.row-two-col-three,
.row-three-col-one,
.row-three-col-two,
.row-three-col-three {
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  height: 20rem; }

.row-one-col-one,
.row-one-col-two,
.row-one-col-three,
.row-two-col-one,
.row-two-col-two,
.row-two-col-three {
  border-bottom: 5px solid #000; }

.row-one-col-one {
  border-right: 5px solid #000; }

.row-one-col-two {
  border-right: 5px solid #000; }

.row-two-col-one {
  border-right: 5px solid #000; }

.row-two-col-two {
  border-right: 5px solid #000; }

.row-three-col-one {
  border-right: 5px solid #000; }

.row-three-col-two {
  border-right: 5px solid #000; }
