// COLORS
$color-white: #fff;
$color-grey: #777;
$color-black: #000;
$color-pink: #bc13fe;
$color-blue: #2e89ff;
$color-red: #ff0217;
$color-green: #0fa;
$main-gradient: linear-gradient(
  to right,
  #d16ba5,
  #c777b9,
  #ba83ca,
  #aa8fd8,
  #9a9ae1,
  #8aa7ec,
  #79b3f4,
  #69bff8,
  #52cffe,
  #41dfff,
  #46eefa,
  #5ffbf1
);

// FONT
$default-font: "Press Start 2P", sans-serif;

// BORDER
$default-border: 5px solid $color-black;
$button-black: 2px solid $color-black;
$button-white: 2px solid $color-white;

// BUTTON SIZE
$button-height: 4rem;
$button-width: 10rem;

// SHADOW
$shadow-border: 0 0 0.2rem $color-white, 0 0 0.2rem $color-white,
  0 0 2rem $color-blue, 0 0 0.8rem $color-blue, 0 0 2.8rem $color-blue,
  inset 0 0 1.3rem $color-blue;

$shadow-text-green: 0 0 7px $color-white, 0 0 10px $color-white,
  0 0 21px $color-white, 0 0 42px $color-green, 0 0 82px $color-green,
  0 0 92px $color-green, 0 0 102px $color-green, 0 0 151px $color-green;

$shadow-text-blue: 0 0 7px $color-white, 0 0 10px $color-white,
  0 0 21px $color-white, 0 0 42px $color-blue, 0 0 82px $color-blue,
  0 0 92px $color-blue, 0 0 102px $color-blue, 0 0 151px $color-blue;

$shadow-text-red: 0 0 7px $color-white, 0 0 10px $color-white,
  0 0 21px $color-white, 0 0 42px $color-red, 0 0 82px $color-red,
  0 0 92px $color-red, 0 0 102px $color-red, 0 0 151px $color-red;
