.button {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  transition: all 2s;

  &-restart {
    margin-right: 10rem;
    opacity: 0;
    transition: opacity 2s;
    width: $button-width;
    height: $button-height;
    border: $button-border;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.5s, transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: scale(1.1);
      box-shadow: 0 5px 10px 3px rgba($color-black, $alpha: 0.5);
    }

    &:active {
      transform: scale(1);
      box-shadow: none;
    }
  }

  &-change {
    opacity: 1;
    margin-right: 3rem;
    display: block;
    width: $button-width;
    height: $button-height;
    border: $button-border;
    text-transform: uppercase;
    cursor: pointer;
    transition: opacity 0.5s, transform 4s, scale 0.3s, box-shadow 0.3s;

    &:hover {
      scale: 1.1;
      box-shadow: 0 5px 10px 3px rgba($color-black, $alpha: 0.5);
    }

    &:active {
      scale: 1;
      box-shadow: none;
    }
  }

  &-replay {
    display: block;
    width: $button-width;
    height: $button-height;
    border: $button-border;
    text-transform: uppercase;
  }
}

.replay {
  display: flex;
  opacity: 0;

  &-next,
  &-previous {
    height: 4rem;
    cursor: pointer;
    transition: all 1s;
  }

  &-next {
    margin-left: 2rem;
  }
  &-previous {
    margin-right: 2rem;
  }

  &-next:hover {
    transform: scale(1.5);
  }
}
