.button {
  margin-top: 2rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  transition: all 2s;

  &-restart {
    color: $color-white;
    margin-left: 6rem;
    opacity: 0;
    transition: opacity 2s;
    width: $button-width;
    height: $button-height;
    border: 2px solid $color-white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    transition: opacity 0.5s, transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 0.2rem $color-white, 0 0 0.2rem $color-white,
      0 0 2rem #2e89ff, 0 0 0.8rem #2e89ff, 0 0 2.8rem #2e89ff,
      inset 0 0 1.3rem #2e89ff;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1);
      box-shadow: none;
    }
  }

  &-change {
    margin-left: 20rem;
    margin-right: 5rem;
    color: $color-white;
    opacity: 1;
    display: block;
    width: $button-width;
    height: $button-height;
    border: $button-white;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    transition: opacity 0.5s, transform 2s, box-shadow 0.3s, scale 0.3s;
    box-shadow: 0 0 0.2rem $color-white, 0 0 0.2rem $color-white,
      0 0 2rem #2e89ff, 0 0 0.8rem #2e89ff, 0 0 2.8rem #2e89ff,
      inset 0 0 1.3rem #2e89ff;

    &:hover {
      scale: 1.1;
    }

    &:active {
      scale: 1;
      box-shadow: none;
    }
  }

  &-replay {
    color: $color-white;
    // display: block;
    width: $button-width;
    height: $button-height;
    border: $button-white;
    text-transform: uppercase;
    background-color: transparent;
    box-shadow: 0 0 0.2rem $color-white, 0 0 0.2rem $color-white,
      0 0 2rem #2e89ff, 0 0 0.8rem #2e89ff, 0 0 2.8rem #2e89ff,
      inset 0 0 1.3rem #2e89ff;
  }
}

.replay {
  margin-left: 5rem;
  display: flex;
  opacity: 0;
  transition: opacity 1s;

  &-next,
  &-previous {
    font-size: 4rem;
    cursor: pointer;
    transition: all 0.5s;
  }

  &-next {
    margin-left: 2rem;
  }
  &-previous {
    margin-right: 2rem;
    margin-left: 4rem;
  }

  &-next:hover,
  &-previous:hover {
    transform: scale(1.2);
  }
}
