.title {
  font-size: 6rem;
  margin-top: 5rem;
  text-align: center;
}

.vic {
  font-size: 1rem;
  margin: 2rem 30% 0 65%;
  text-align: center;
}

.player-turn {
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
}

.player-toggle {
  font-size: 5rem;
  -webkit-text-stroke: 0.01rem $color-white;
  position: relative;

  &::before,
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -0.3rem;
    border-radius: 50%;
    z-index: -1;
    background-image: $main-gradient;
    animation: pulse 2s ease infinite;
  }

  &::after {
    animation: pulse 2s 0.5s ease infinite;
  }
}

.winner {
  display: flex;
  justify-content: center;
  align-items: center;

  &-title {
    // display: none;
    margin-top: 4rem;
    font-size: 1px;
    opacity: 0;
    color: transparent;
    background-image: $main-gradient;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px $color-black;
    background-size: 200%;
    background-position: -100%;
    transition: all 3s;
    animation: wave 2s infinite, flow 3s ease infinite alternate-reverse;
  }
}
