.title {
  font-size: 6rem;
  margin-top: 5rem;
  text-align: center;
  position: relative;
  text-transform: uppercase;

  &::after {
    content: "by Vic";
    font-size: 1rem;
    position: absolute;
    top: 6.5rem;
    right: 32%;
  }
}

.player-turn {
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
}

.player-toggle {
  font-size: 5rem;
  -webkit-text-stroke: 0.01rem $color-white;
  position: relative;

  &::before,
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -0.5rem;
    border-radius: 50%;
    z-index: -1;
    background-image: $main-gradient;
    animation: pulse 2s ease infinite;
  }

  &::after {
    animation: pulse 2s 0.5s ease infinite;
  }
}

.winner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  &-win,
  &-draw {
    font-size: 1px;
    font-size: 1px;
    opacity: 0;
    opacity: 0;
    transition: all 3s;
    animation: neonPink 1s infinite;
    color: transparent;
    -webkit-text-stroke: 0.1px $color-black;
  }

  &-win {
    margin-top: 4rem;
  }
}

.neon-green {
  color: #fff;
  text-shadow: $shadow-text-green;
}

.neon-blue {
  color: #fff;
  text-shadow: $shadow-text-blue;
}

.neon-red {
  color: $color-white;
  text-shadow: $shadow-text-red;
}

.x-score,
.o-score {
  color: $color-white;
  font-size: 4rem;
}
