.tic-box {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center;
}

// ALL ROW AND COL
.row-one-col-one,
.row-one-col-two,
.row-one-col-three,
.row-two-col-one,
.row-two-col-two,
.row-two-col-three,
.row-three-col-one,
.row-three-col-two,
.row-three-col-three {
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  height: 20rem;
}

// ALL COL BUT ROW 1-2 only
.row-one-col-one,
.row-one-col-two,
.row-one-col-three,
.row-two-col-one,
.row-two-col-two,
.row-two-col-three {
  border-bottom: $default-border;
}

.row-one-col-one {
  border-right: $default-border;
}

.row-one-col-two {
  border-right: $default-border;
}

.row-two-col-one {
  border-right: $default-border;
}

.row-two-col-two {
  border-right: $default-border;
}

.row-three-col-one {
  border-right: $default-border;
}
.row-three-col-two {
  border-right: $default-border;
}
