.bg-video {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  object-fit: cover;

  &-content {
    height: 100vh;
    width: 100vw;
  }
}

.board {
  color: $color-white;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 20rem);
  justify-content: center;
}

// ALL ROW AND COL
.row-one-col-one,
.row-one-col-two,
.row-one-col-three,
.row-two-col-one,
.row-two-col-two,
.row-two-col-three,
.row-three-col-one,
.row-three-col-two,
.row-three-col-three {
  cursor: pointer;
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
  height: 20rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #2e89ff,
    0 0 0.8rem #2e89ff, 0 0 2.8rem #2e89ff, inset 0 0 1.3rem #2e89ff;
  animation: neon 1.5s infinite alternate;
}

// ALL COL BUT ROW 1-2 only
.row-one-col-one,
.row-one-col-two,
.row-one-col-three,
.row-two-col-one,
.row-two-col-two,
.row-two-col-three {
  border-bottom: 2px solid transparent;
}

.row-one-col-one {
  border-right: transparent;
}

.row-one-col-two {
  border-right: transparent;
}

.row-two-col-one {
  border-right: transparent;
}

.row-two-col-two {
  border-right: transparent;
}

.row-three-col-one {
  border-right: transparent;
}
.row-three-col-two {
  border-right: transparent;
}
